html, body, #root, #root > div {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  background: url('https://images.hdqwalls.com/download/polygonal-abstract-red-dark-background-eo-1280x1024.jpg');
  background-repeat: repeat;  
}